html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

p {
  widows: 3;
  orphans: 3;
  margin-bottom: 0.8rem;
}
p:last-child {
  margin-bottom: 0;
}
p + p {
  text-indent: 1rem;
}

h3 {
  font-size: 1.3rem;
  margin-top: 1rem;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.huge {
  font-size: 5rem;
}

.large {
  font-size: 3rem;
}

.big {
  font-size: 1.7rem;
}

.regular {
  font-size: 1rem;
}

.small {
  font-size: 0.6rem;
}

.tiny {
  font-size: 0.36rem;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

#container {
  min-width: 100%;
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#container.install, #container.login {
  margin-bottom: 2rem;
  text-align: center;
}
#container.install #background, #container.login #background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #24488d;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #28326f), color-stop(50%, #24488d), color-stop(100%, #28326f)) fixed;
  background: -webkit-linear-gradient(#28326f, #24488d, #28326f) fixed;
  background: -moz-linear-gradient(#28326f, #24488d, #28326f) fixed;
  background: -o-linear-gradient(#28326f, #24488d, #28326f) fixed;
  background: linear-gradient(#28326f, #24488d, #28326f) fixed;
}
#container.install .logo, #container.login .logo {
  display: block;
  width: 30rem;
  max-width: 80%;
  margin: 2rem auto 2.5rem;
  padding: 0 2.5rem;
  -webkit-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
}
#container.install .form, #container.login .form {
  width: 56rem;
  max-width: 86%;
  margin: 0 auto;
  padding: 1.7rem 2.35rem;
  border-radius: 1.7rem;
  background: #f7f7f7;
  -webkit-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
}
#container.install .form h1, #container.login .form h1 {
  font-size: 2rem;
}
#container.install .form .headerline, #container.login .form .headerline {
  display: block;
  font-size: 1.1rem;
  margin-top: 0.7rem;
}
#container.install .form .ask, #container.login .form .ask {
  display: block;
  font-size: 1.35rem;
  margin-top: 1.6rem;
}
#container.install .form .ask:last-child, #container.login .form .ask:last-child {
  margin-top: 1.5rem;
}
#container.install .form .ask.error, #container.login .form .ask.error {
  padding: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  background: #eebbcc;
}
#container.install .form .ask input[type=submit], #container.login .form .ask input[type=submit] {
  font-size: 1.6rem;
}

#container.main {
  min-height: 100%;
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  flex-direction: column;
}
#container.main #content {
  flex-grow: 1;
}
#container.main #content > div {
  min-height: 100%;
  overflow-y: scroll;
}
#container.main #header {
  width: 100%;
  padding: 0.5rem 1rem;
  display: flex;
  border-bottom: 0.1rem solid rgba(7, 15, 36, 0.9);
}
#container.main #header .logo {
  display: inline-block;
  padding-right: 0.5rem;
  -webkit-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
}
#container.main #header .logo img {
  max-height: 3rem;
}
#container.main #header .project-bar {
  flex-grow: 1;
  -webkit-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0.125rem 0.125rem 0 rgba(0, 0, 0, 0.5));
  text-align: center;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.2rem;
  vertical-align: top;
  padding-bottom: 0.3rem;
  font-style: italic;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
#container.main #header .project-bar span {
  display: inline-block;
  color: #f8f8f8;
  font-size: 2.5rem;
  margin-right: 1rem;
}
#container.main #header .project-bar span .caret {
  padding-left: 0.3rem;
  font-size: 1.75rem;
}
#container.main #header .project-bar a.mod {
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-left: 0.75rem;
  position: relative;
  top: -0.15rem;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  color: #f4f4ff;
}
#container.main #header .project-bar a.mod:hover, #container.main #header .project-bar a.mod.selected {
  color: #bbccff;
}
#container.main #footer {
  padding: 0.3rem 1rem 0.5rem;
  border-top: 0.1rem solid rgba(7, 15, 36, 0.2);
  font-size: 0.75rem;
  text-align: center;
  font-style: italic;
}
#container.main #footer a {
  text-decoration: none;
}
#container.main #header, #container.main #footer {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(20, 20, 30, 0.75)), color-stop(100%, rgba(20, 20, 30, 0.9)));
  background: -webkit-linear-gradient(rgba(20, 20, 30, 0.75), rgba(20, 20, 30, 0.9));
  background: -moz-linear-gradient(rgba(20, 20, 30, 0.75), rgba(20, 20, 30, 0.9));
  background: -o-linear-gradient(rgba(20, 20, 30, 0.75), rgba(20, 20, 30, 0.9));
  background: linear-gradient(rgba(20, 20, 30, 0.75), rgba(20, 20, 30, 0.9));
}
#container.main #content {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #fcfeff;
}
#container.main #content #list-col {
  overflow: hidden;
  background: #fcfeff;
  min-width: 6.25rem;
  margin-right: -0.3rem;
  padding: 1rem 1.25rem;
  z-index: 8;
  font-size: 1.15rem;
  border: 0.3rem solid #fcfeff;
  border-left: none;
  border-right: none;
}
#container.main #content #list-col hr {
  margin: 1rem -1.25rem;
  height: 2px;
  width: calc(100% + 3rem);
  border: 0;
  background: #d0ebf2;
}
#container.main #content #list-col h1 {
  font-weight: bold;
  font-size: 1.4rem;
}
#container.main #content #list-col ul {
  margin-top: 0.65rem;
}
#container.main #content #list-col ul li + li {
  margin-top: 0.5rem;
}
#container.main #content #list-col ul li, #container.main #content #list-col ul li a {
  font-style: italic;
}
#container.main #content #list-col a {
  color: initial;
  text-decoration: none;
  font-style: initial;
}
#container.main #content #list-col .settings {
  text-align: center;
  display: block;
  font-size: 0.8rem;
  line-height: 1.2;
  font-style: italic;
}
#container.main #content .content-col {
  min-height: 100%;
  flex-grow: 1;
  overflow-y: scroll;
}
#container.main #content .content-col .flexy {
  padding: 1.9rem 2rem;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d0ebf2), color-stop(100%, #bae2f2));
  background: -webkit-linear-gradient(#d0ebf2, #bae2f2);
  background: -moz-linear-gradient(#d0ebf2, #bae2f2);
  background: -o-linear-gradient(#d0ebf2, #bae2f2);
  background: linear-gradient(#d0ebf2, #bae2f2);
  border: 0.3rem solid #fcfeff;
  border-right: none;
  border-radius: 0.6rem 0 0 0.6rem;
  z-index: 7;
  display: flex;
  align-items: stretch;
}
#container.main #content .content-col .flexy .col {
  min-height: 100%;
  min-width: 7rem;
}
#container.main #content .content-col .flexy .col + .col {
  margin-left: 1rem;
}
#container.main #content .content-col .flexy .col.stretch {
  flex-grow: 1;
}
#container.main #content .content-col .flexy .horizontal-flex {
  display: flex;
  flex-direction: row;
}
#container.main #content .content-col .flexy .horizontal-flex .block + .block {
  margin-left: 1.1rem;
}
#container.main #content .content-col .flexy .horizontal-flex.vertical-center {
  align-items: center;
}
#container.main #content .content-col .flexy .vertical-flex {
  display: flex;
  flex-direction: column;
}
#container.main #content .content-col .flexy .vertical-flex .block + .block {
  margin-top: 1.1rem;
}
#container.main #content .content-col .flexy .issue-colour {
  width: 0.28rem;
  margin-right: 0.4rem;
  border-radius: 0.2rem;
  padding: 0.6rem 0;
  opacity: 0.77;
}
#container.main #content .content-col .flexy .smalltext {
  font-size: 0.9rem;
}
#container.main #content .content-col .flexy .submitbutton {
  width: 100%;
  padding: 0.5rem;
  background: #6edb76;
  box-sizing: border-box;
  margin-bottom: 1.1rem;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px rgba(15, 15, 15, 0.36);
  border-radius: 0.3rem;
  cursor: pointer;
  box-shadow: 1px 1px 4px -1px rgba(18, 18, 28, 0.2);
}
#container.main #content .content-col .flexy .block {
  box-shadow: 1px 1px 4px -1px rgba(18, 18, 28, 0.2);
  background: #fcfeff;
  border-radius: 0.25rem;
  padding: 0.7rem;
}
#container.main #content .content-col .flexy .block h1 {
  font-size: 1.1rem;
  font-weight: bold;
}
#container.main #content .content-col .flexy .block hr {
  margin: 0.5rem -0.7rem;
  width: calc(100% + 1.4rem);
  border: none;
  height: 1px;
  background: #d0ebf2;
}
#container.main #content .content-col .flexy .block input {
  border-radius: 0.2rem;
  border: 1px solid #d0ebf2;
  padding: 0.25rem 0.2rem;
  width: calc(100% - 0.4rem - 2px);
}
#container.main #content .content-col .flexy .block li + li {
  margin-top: 0.5rem;
}
#container.main #content .content-col .flexy .block li span {
  margin-top: 0.1rem;
  flex-grow: 1;
}
#container.main #content .content-col .flexy .block li .count {
  margin-left: 1rem;
  flex-grow: 0;
  color: #555577;
  font-size: 0.8rem;
}
#container.main #content .content-col .flexy .block .add-button {
  display: block;
  padding: 0 0.35rem 0.2rem 0.35rem;
  border-radius: 0.2rem;
  margin-left: 0.2rem;
  border: 1px solid #6eaf76;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
  background-color: #6edb76;
}
#container.main #content .content-col .flexy .block .add-button:hover {
  background-color: #6ee476;
}
#container.main #content .content-col .flexy .block .milestones h2 {
  font-size: 1.1rem;
}
#container.main #content .content-col .flexy .block .milestones tagline {
  display: block;
  font-size: 0.8rem;
  color: #555577;
  margin: 0.2rem 0 0.3rem;
}
#container.main #content .content-col .flexy .block .milestones .percent {
  background: #dfe9f0;
  border-radius: 0.2rem;
}
#container.main #content .content-col .flexy .block .milestones .complete {
  background: #b2d6ed;
  border-radius: 0.2rem;
  overflow-x: visible;
  min-width: 1px;
  padding: 0.1rem 0;
}
#container.main #footer {
  font-weight: 600;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fcfeff;
}
#container.main #footer a {
  color: #dcdeff;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
