// TinyWebApps SCSS
@import compass/reset
@import compass

@import standard_defs
@import defs

// layout
*
    box-sizing: border-box

html, body
    width: 100%
    height: 100%

#container
    min-width: 100%
    min-height: 100%
    font-family: $standard-font-family

    // installation page
    &.install, &.login
        margin-bottom: 2rem
        text-align: center
        #background
            position: fixed
            top: 0
            left: 0
            width: 100%
            height: 100%
            background: #24488d
            @include background(linear-gradient(#28326f, #24488d, #28326f) fixed)
        .logo
            display: block
            width: 30rem
            max-width: 80%
            margin: 2rem auto 2.5rem
            padding: 0 2.5rem
            @include filter($sharp-drop-shadow)

        .form
            width: 56rem
            max-width: 86%
            margin: 0 auto
            padding: 1.7rem 2.35rem
            border-radius: 1.7rem
            background: #f7f7f7
            @include filter($sharp-drop-shadow)
            
            h1
                font-size: 2rem

            .headerline
                display: block
                font-size: 1.1rem
                margin-top: 0.7rem

            .ask
                display: block
                font-size: 1.35rem
                margin-top: 1.6rem
                &:last-child
                    margin-top: 1.5rem
                &.error
                    padding: 0.5rem
                    margin-left: auto
                    margin-right: auto
                    border-radius: 1rem
                    background: #ebc

                input[type=submit]
                    font-size: 1.6rem

// main

#container.main
    min-height: 100%
    display: flex
    font-family: $standard-font-family
    flex-direction: column
    #content
        flex-grow: 1
        > div
            min-height: 100%
            overflow-y: scroll

    #header
        width: 100%
        padding: 0.5rem 1rem
        display: flex
        border-bottom: 0.1rem solid rgba(7, 15, 36, 0.9)
        .logo
            display: inline-block
            padding-right: 0.5rem
            @include filter($sharp-drop-shadow)
            img
                max-height: 3rem
        .project-bar
            flex-grow: 1
            @include filter($sharp-drop-shadow)
            text-align: center
            padding-left: 1rem
            padding-right: 0.5rem  // otherwise italic fonts get cut off in Chrome
            padding-top: 0.2rem  // what an
            vertical-align: top  // ugly hack
            padding-bottom: 0.3rem
            font-style: italic
            font-weight: 300  // light
            @include font-smoothing()
            .proj
                cursor: pointer
                display: inline-block
                color: #f8f8f8
                font-size: 2.5rem
                margin-right: 1rem
                .caret
                    padding-left: 0.3rem
                    font-size: 1.75rem
            .proj-select
                display: inline-block
                position: relative
                display: none  // hidden until click
                &.shown
                    display: inline-block
                > div
                    position: absolute
                    top: 1rem
                    $proj-select-width: 20rem
                    left: calc(#{-$proj-select-width / 2} - 1.71rem)
                    width: $proj-select-width
                    min-height: 2rem
                    @include single-transition(background-color, 0.2s)
                    background-color: #fdfdfd
                    &:hover
                        background-color: #f7f7f7
                    border-radius: 0.35rem
                    border: rgba(10,10,20,0.4) 0.1rem solid
                    .button
                        padding: 0.3rem 0.3rem
                        text-align: center
                        cursor: pointer
                    .newproj
                        .plus
                            display: block
                            margin: 0 auto 0.2rem
                            .fa-plus-circle
                                font-size: 3rem
                                color: rgba(10,10,20,0.7)
                        color: #3b3b3b
            a.mod
                text-decoration: none
                font-size: 1.7rem
                display: inline-block
                margin-left: 0.75rem
                position: relative
                top: -0.15rem
                @include single-transition(color, 0.2s)
                color: #f4f4ff
                &:hover, &.selected
                    color: #bcf

    #footer
        padding: 0.3rem 1rem 0.5rem
        border-top: 0.1rem solid rgba(7, 15, 36, 0.2)
        font-size: 0.75rem
        text-align: center
        font-style: italic
        a
            text-decoration: none

    // colours

    #header, #footer
        @include background(linear-gradient(rgba(20,20,30,0.75), rgba(20,20,30,0.9)))

    #content
        height: 100px
        width: 100%
        display: flex
        flex-direction: row
        background: #fcfeff

        #list-col
            overflow: hidden
            background: #fcfeff
            min-width: 6.25rem
            margin-right: -0.3rem
            padding: 1rem 1.25rem
            z-index: 8
            font-size: 1.15rem
            hr
                margin: 0.8rem -1.25rem
                height: 2px
                width: calc(100% + 3rem)
                border: 0
                background: #d0ebf2
            h1
                font-weight: bold
                font-size: 1.4rem
            ul
                margin-top: 0.65rem
                li
                    + li
                        margin-top: 0.5rem
                    &, a
                        font-style: italic
            a
                color: initial
                text-decoration: none
                font-style: initial
            .settings
                text-align: center
                display: block
                font-size: 0.8rem
                font-style: italic
            border: 0.3rem solid #fcfeff
            border-left: none
            border-right: none

        .content-col
            min-height: 100%
            flex-grow: 1
            overflow-y: scroll
            .flexy
                padding: 1.9rem 2rem
                @include background(linear-gradient(#d0ebf2, #bae2f2))
                border: 0.3rem solid #fcfeff
                border-right: none
                border-radius: 0.6rem 0 0 0.6rem
                z-index: 7

                display: flex
                align-items: stretch

                .col
                    + .col
                        margin-left: 1rem
                    min-height: 100%
                    min-width: 7rem
                    &.stretch
                        flex-grow: 1

                .horizontal-flex
                    display: flex
                    flex-direction: row
                    .block + .block
                        margin-left: 1.1rem
                    &.vertical-center
                        align-items: center

                .vertical-flex
                    display: flex
                    flex-direction: column
                    .block + .block
                        margin-top: 1.1rem

                .issue-colour
                    width: 0.28rem
                    margin-right: 0.4rem
                    border-radius: 0.2rem
                    padding: 0.6rem 0
                    opacity: 0.77

                .smalltext
                    font-size: 0.9rem

                .submitbutton
                    width: 100%
                    padding: 0.5rem
                    background: #6edb76
                    box-sizing: border-box
                    margin-bottom: 1.1rem
                    text-align: center
                    color: #fff
                    text-shadow: 1px 1px 2px rgba(15, 15, 15, 0.36)
                    border-radius: 0.3rem
                    cursor: pointer
                    box-shadow: 1px 1px 4px -1px rgba(18,18,28,0.2)

                .block
                    box-shadow: 1px 1px 4px -1px rgba(18,18,28,0.2)
                    background: #fcfeff
                    border-radius: 0.25rem
                    padding: 0.7rem
                    h1
                        font-size: 1.1rem
                        font-weight: bold
                    hr
                        margin: 0.5rem -0.7rem
                        width: calc(100% + 1.4rem)
                        border: none
                        height: 1px
                        background: #d0ebf2
                    input
                        border-radius: 0.2rem
                        border: 1px solid #d0ebf2
                        padding: 0.25rem 0.2rem
                        width: calc(100% - 0.4rem - 2px)
                    li
                        + li
                            margin-top: 0.5rem
                        // hack for issues
                        span
                            margin-top: 0.1rem
                            flex-grow: 1
                        .count
                            margin-left: 1rem
                            flex-grow: 0
                            color: #557
                            font-size: 0.8rem
                    .add-button
                        display: block
                        padding: 0 0.35rem 0.2rem 0.35rem
                        border-radius: 0.2rem
                        margin-left: 0.2rem
                        border: 1px solid #6eaf76
                        box-sizing: border-box
                        cursor: pointer
                        font-weight: bold
                        font-size: 1.2rem
                        color: #fff
                        @include single-transition(background-color, 0.2s)
                        background-color: #6edb76
                        &:hover
                            background-color: #6ee476

                    .milestones
                        h2
                            font-size: 1.1rem
                        tagline
                            display: block
                            font-size: 0.8rem
                            color: #557
                            margin: 0.2rem 0 0.3rem
                        .percent
                            background: #dfe9f0
                            border-radius: 0.2rem
                        .complete
                            background: #b2d6ed
                            border-radius: 0.2rem
                            overflow-x: visible
                            min-width: 1px
                            padding: 0.1rem 0

    #footer
        font-weight: 600
        @include font-smoothing()
        color: #fcfeff
        a
            color: #dcdeff
            @include font-smoothing()
