{% extends "base.html" %}
{% block title %}Install{% endblock %}
{% block class %}install{% endblock %}
{% block content %}
    <div id="background"></div>
    <a href="/"><img class="logo" src="/static/img/logo.svg" alt="Install TinyApps" title="Install TinyApps" /></a>
    <div class="form">
        {% if form %}
        <h1>Welcome!</h1>

        <span class="headerline">We just need a few details we need to setup your instance.</span>

        <form action="finish_install" method="post">
            <div class="ask"><label><input type="checkbox" name="allow_external_ips" value="TA_True"> Let other computers access my TinyApps.</label></div>

            <div class="ask"><label><input type="checkbox" name="allow_registration" value="TA_True"> Let other people register for my TinyApps.</label></div>

            <div class="ask"><label><input type="checkbox" name="allow_registration_from_remote" value="TA_True"> Let people register from remote computers.</label></div>

            {% if not users.site_admin_exists %}
                <div class="ask">
                    Admin Account:<br>
                    <label>Username: <input type="text" name="username"></label><br>
                    <label>Password: <input type="password" name="password"></label>
                </div>
            {% endif %}

            <div class="ask"><input type="submit" value="Install"></div>
        </form>
        {% else %}
        {{ content }}
        {% endif %}
    </div>
{% endblock %}
